.list{
    /* display: flex !important;
    justify-content: space-between; */
}

.text{
    width: 90%;
}

.btn{
    text-align: center;
    align-self: center;
    border: 1px solid black;
}

.button{
    margin: 5px 10px;
}